.fr {
  float: right;
}
.fl {
  float: left;
}
#Create_container .sidebar .company_center_aside dd.current {
  background: #f1f1f1;
}
dl.company_center_content {
  background-color: #fafafa;
  margin-top: 5px;
  position: relative;
  margin-bottom: 200px;
}
dl.company_center_content dd {
  min-height: 337px;
  padding: 77px 0;
  position: relative;
}
dl.company_center_content dd form div.filter_actions {
  background: #f2f2f2;
  padding: 15px 20px;
  position: relative;
}
dl.company_center_content dd form div.filter_actions .checkbox {
  float: left;
  width: 13px;
  height: 13px;
  border: 2px solid #e0e0e0;
  background: #fff;
  position: relative;
  margin-top: 3px;
}
dl.company_center_content dd form div.filter_actions .checkbox input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin: 0;
  border: 0;
  position: absolute;
  left: -2px;
  top: -2px;
  opacity: 0;
}
dl.company_center_content dd form div.filter_actions .checkbox i.allI {
  background: url(../../imgs/checkbox.png) 0 0 no-repeat;
}
dl.company_center_content dd form div.filter_actions .checkbox i {
	display: none;
  width: 17px;
  height: 14px;
  background: url(../../imgs/checkbox.png) 0 -14px no-repeat;
  position: absolute;
  left: 0;
  top: -1px;
}
dl.company_center_content dd form div.filter_actions span {
  float: left;
  margin: 0 0 0 12px;
  font-weight: 600;
  color: #555;
}
dl.company_center_content dd form div.filter_actions a {
  color: #fff;
  background: #91cebe;
  display: inline-block;
  padding: 1px 10px;
  margin-left: 20px;
  transition: .2s;
}
dl.company_center_content dd form div.filter_actions a:hover {
  background: #00A57F;
}
dl.company_center_content dd form ul.resumeLists {
  margin: 25px 0;
  position: relative;
}
dl.company_center_content dd form ul.resumeLists li {
  padding: 0 40px 0 20px;
  margin-bottom: 25px;
}
dl.company_center_content dd form ul.resumeLists li laber.checkbox {
  margin-top: 50px;
  float: left;
  width: 13px;
  height: 13px;
  border: 2px solid #e0e0e0;
  background: #fff;
  position: relative;
  cursor: auto;
}
dl.company_center_content dd form ul.resumeLists li laber.checkbox input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin: 0;
  border: 0;
  position: absolute;
  left: -2px;
  top: -2px;
  opacity: 0;
  cursor: auto;
}
dl.company_center_content dd form ul.resumeLists li laber.checkbox i {
	display: none;
  width: 17px;
  height: 14px;
  background: url(../../imgs/checkbox.png) 0 -14px no-repeat;
  position: absolute;
  left: 0;
  top: -1px;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow {
  padding: 10px;
  background: #fff;
  margin-left: 30px;
  overflow: hidden;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeImg {
  position: relative;
  width: 90px;
  height: 90px;
  float: left;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeImg img {
  width: 90px;
  height: 90px;
  position: absolute;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro {
  margin-left: 100px;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro h3 {
  width: 370px;
  font-weight: normal;
  margin-bottom: 5px;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro h3 a {
  color: #00A57F;
  font-size: 18px;
  margin-right: 10px;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro h3 em {
  width: 17px;
  height: 17px;
  background: url(../../imgs/unread.png) right 0px no-repeat;
  display: inline-block;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro .jdpublisher {
  margin-top: 4px;
  overflow: hidden;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro span {
  margin: -20px 0 0 0;
  font-size: 12px;
  color: #999;
  display: inline-block;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro span span {
  color: #333;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro div.links {
  display: inline-block;
  float: right;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro div.links a {
  color: #00A57F;
  margin-left: 5px;
}
dl.company_center_content dd form ul.resumeLists li .resumeShow .resumeIntro div.links a:hover {
  text-decoration: underline;
}
dl.company_center_content dd form ul.resumeLists li .contactInfo {
  clear: both;
  background: #f2f2f2;
  border-top: 1px dashed #d9d9d9;
  padding: 5px 10px;
  margin-left: 30px;
}
dl.company_center_content dd form ul.resumeLists li .contactInfo span {
  color: #999;
}
dl.company_center_content dd form#searchForm ul.my_jobs {
  margin: 0 40px;
}
dl.company_center_content dd form#searchForm ul.my_jobs li {
  margin-bottom: 30px;
  border-left: 3px solid #91cebe;
  padding: 2px 10px 2px 15px;
  background: #fff;
}
dl.company_center_content dd form#searchForm ul.my_jobs li h3 {
  padding: 5px 0;
  margin: 0 !important;
  font-weight: normal;
}
dl.company_center_content dd form#searchForm ul.my_jobs li h3 a {
  color: #00A57F;
  font-size: 18px;
}
dl.company_center_content dd form#searchForm ul.my_jobs li h3 span {
  color: #999999;
  font-size: 14px;
}
dl.company_center_content dd form#searchForm ul.my_jobs li p {
  margin: 5px 0;
}
dl.company_center_content dd form#searchForm ul.my_jobs li p.color9 {
  color: #999;
}
dl.company_center_content dd form#searchForm ul.my_jobs li div.links {
  margin-top: -25px;
}
dl.company_center_content dd form#searchForm ul.my_jobs li div.links a {
  color: #00A57F;
  margin-right: 5px;
}
/*# sourceMappingURL=interviewStyle.css.map */
