	@charset "utf-8";
* {
	outline: 0
}

html,
body {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font: 14px/22px "Hiragino Sans GB", "Microsoft YaHei", SimSun;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased
}

.clearfix:after {
	content: "";
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400
}


textarea {
	border: 2px solid #f1f1f1;
	width: 600px;
	height: 260px;
	outline: 0;
	resize: none;
	font: 20px/32px Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun;
	padding: 6px 10px;
	margin-top: 20px;
	transition: border .2s ease-in 0s
}

textarea:focus {
	border: 2px solid #d4e2e4
}

:focus {
	outline: 0
}

.placeholder {
	color: #777
}

img {
	border: 0
}

.dn {
	display: none
}

.db {
	display: block
}

.fl {
	float: left!important
}

.fr {
	float: right!important
}

.clear {
	clear: both
}

a {
	color: #555;
	text-decoration: none;
	cursor: pointer;
	-moz-transition: background-color .2s ease-out, color .1s ease-out;
	-webkit-transition: background-color .2s ease-out, color .1s ease-out;
	-ms-transition: background-color .2s ease-out, color .1s ease-out;
	transition: background-color .2s ease-out, color .1s ease-out
}

a:hover {
	color: #019875
}

dl,
dd {
	margin: 0
}

em {
	font-style: normal
}

ul.reset {
	margin: 0;
	padding: 0;
	list-style: none
}

h2 {
	font-size: 16px;
	margin: 10px 0
}

.c9 {
	color: #999
}

.c7 {
	color: #777
}

.c5 {
	color: #555
}

.c3 {
	color: #333
}

.cr {
	color: #fe6161
}

.f24 {
	font-size: 24px
}

.f20 {
	font-size: 20px
}

.f18 {
	font-size: 18px
}

.f16 {
	font-size: 16px
}

.f14 {
	font-size: 14px
}

.mb10 {
	margin-bottom: 10px
}

.mb20 {
	margin-bottom: 20px
}

.mb0 {
	margin-bottom: 0!important
}

.mb50 {
	margin-bottom: 50px
}

.mt20 {
	margin-top: 20px
}

span.error {
	display: block;
	margin: 5px 0 10px;
	font-size: 14px;
	color: #ff6a6a;
	text-align: left;
	background: url(../../imgs/error.png) 0 3px no-repeat;
	padding-left: 20px;
	line-height: 22px
}

::selection {
	background: #00b38a;
	color: #fff
}

::-moz-selection {
	background: #00b38a;
	color: #fff
}

#body {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 0 -68px
}

#top_bannerC {
	width: 100%
}

#top_bannerC a {
	display: block;
	width: 100%;
	overflow: hidden;
	text-indent: -999999em
}

#lg_tbar {
	min-width: 1024px;
	height: 30px;
	background-color: #333
}

#lg_tbar .inner {
	position: relative;
	max-width: 1308px;
	margin: 0 auto
}

#lg_tbar div.lg_tbar_l a,
#lg_tbar ul.lg_tbar_r a,
#lg_tbar div.lg_tbar_l span,
#lg_tbar ul.lg_tbar_r span {
	color: #c4c3c3;
	float: left;
	line-height: 15px;
	padding: 0 12px;
	margin: 7px 0 0
}

#lg_tbar div.lg_tbar_l a:hover,
#lg_tbar ul.lg_tbar_r a:hover,
#lg_tbar div.lg_tbar_l span:hover,
#lg_tbar ul.lg_tbar_r span:hover {
	color: #fff
}

#lg_tbar div.lg_tbar_l span.unick,
#lg_tbar ul.lg_tbar_r span.unick {
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

#lg_tbar div.lg_tbar_l a.lg_app,
#lg_tbar ul.lg_tbar_r a.lg_app {
	color: #08d7a2;
	background: url(../../imgs/personaPic/app_icon_43ba565.png) 10px 0 no-repeat;
	padding: 0 12px 0 27px
}

#lg_tbar div.lg_tbar_l a.lg_app:hover,
#lg_tbar ul.lg_tbar_r a.lg_app:hover {
	color: #05eaaf
}

#lg_tbar div.lg_tbar_l a.lg_os,
#lg_tbar ul.lg_tbar_r a.lg_os {
	border-left: 1px solid #5d5d5d
}

#lg_tbar div.lg_tbar_l {
	float: left
}

#lg_tbar ul.lg_tbar_r {
	float: right
}

#lg_tbar ul.lg_tbar_r li {
	position: relative;
	float: left;
	height: 30px
}

#lg_tbar ul.lg_tbar_r li em.noticeDot {
	position: absolute;
	top: 5px;
	right: 21px;
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #f22e01;
	-webkit-transition: opacity .3s ease 0s;
	-moz-transition: opacity .3s ease 0s;
	-ms-transition: opacity .3s ease 0s;
	-o-transition: opacity .3s ease 0s;
	transition: opacity .3s ease 0s
}

#lg_tbar ul.lg_tbar_r li em.dn {
	display: none
}

#lg_tbar ul.lg_tbar_r li em#noticeDot_name {
	right: 21px;
	left: auto
}

#lg_tbar ul.lg_tbar_r li em#noticeDot_delivery {
	right: 6px;
	left: auto
}

#lg_tbar ul.lg_tbar_r li em#noticeDot_invitation {
	left: 70px;
	right: auto
}

#lg_tbar ul.lg_tbar_r a.bl,
#lg_tbar ul.lg_tbar_r span.bl {
	border-left: 1px solid #5d5d5d
}

#lg_tbar ul.lg_tbar_r li.user_dpdown {
	padding-right: 15px
}

#lg_tbar ul.lg_tbar_r li.user_dpdown i {
	position: absolute;
	top: 12px;
	right: 10px;
	font-size: 0;
	height: 0;
	width: 0;
	border-width: 5px 4px 0;
	border-style: solid dashed;
	border-color: #fff transparent transparent;
	overflow: hidden;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s
}

#lg_tbar ul.lg_tbar_r li.user_dpdown:hover {
	cursor: pointer
}

#lg_tbar ul.lg_tbar_r li.user_dpdown:hover span {
	color: #fff
}

#lg_tbar ul.lg_tbar_r li.user_dpdown:hover i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	animation-fill-mode: forwards
}

#lg_tbar ul.lg_tbar_r li.user_dpdown:hover ul {
	display: block
}

#lg_tbar ul.lg_tbar_r li.user_dpdown:hover em#noticeDot_name {
	*display: none;
	opacity: 0;
	filter: alpha(Opacity=0)
}

#lg_tbar .user_dpdown ul {
	display: none;
	overflow: hidden;
	width: 100%;
	min-width: 80px;
	padding-bottom: 8px;
	background-color: #333;
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 1000
}

#lg_tbar .user_dpdown ul li {
	float: none
}

#lg_tbar .user_dpdown ul li a {
	width: 100%;
	min-width: 56px;
	display: block;
	color: #c4c3c3;
	line-height: 30px;
	padding: 0 12px;
	margin: 0
}

#lg_tbar .user_dpdown ul li a:hover {
	color: #fff;
	background-color: #474747
}


#lg_tnav {
	min-width: 1024px;
	height: 54px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fafafa
}

#lg_tnav .inner {
	width: 1024px;
	margin: 0 auto
}

#lg_tnav .lg_tnav_l {
	float: left;
	width: 260px;
	overflow: hidden
}

#lg_tnav .lg_logo img {
	float: left;
	margin: 10px 0 0
}

#lg_tnav .lg_logo h1 {
	float: left;
	width: 97px;
	height: 34px;
	margin: 10px 0 0;
	padding: 0;
	background-image: url(../../imgs/login/logo_1.png);
	overflow: hidden;
	text-indent: -99em
}

#lg_tnav .lg_logo span {
	float: left;
	font-size: 24px;
	line-height: 31px;
	color: #00b38a;
	border-left: 1px solid #e1e1e1;
	margin: 12px 0 0 12px;
	padding: 0 12px
}

#lg_tnav .suggestCity {
	float: left;
	height: 44px;
	padding-top: 10px;
	padding-left: 12px;
	font-size: 18px;
	line-height: 44px
}

#lg_tnav .suggestCity strong {
	margin-right: 8px;
	color: #333;
	font-size: 18px;
	font-weight: 400
}

#lg_tnav .suggestCity em {
	color: #999;
	font-size: 12px;
	cursor: pointer
}

#lg_tnav .lg_tnav_wrap {
	float: left
}

#lg_tnav .lg_tnav_wrap li {
	display: inline-block;
	*float: left;
	margin: 0 16px;
	position: relative
}

#lg_tnav .lg_tnav_wrap li a {
	display: block;
	font-size: 18px;
	color: #999;
	line-height: 53px;
	padding: 0 5px
}

#lg_tnav .lg_tnav_wrap li a:hover {
	color: #333;
	border-bottom: 2px solid #00b38a
}

#lg_tnav .lg_tnav_wrap li a.current {
	color: #333;
	border-bottom: 2px solid #00b38a
}

#lg_tnav .lg_tnav_wrap li b {
	font-size: 12px;
	line-height: 18px;
	font-weight: 100;
	position: absolute;
	left: 80px;
	top: 10px;
	color: #fff;
	background: #fd470c;
	padding: 0 5px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px
}

#lg_tbar li.msg_dropdown {
	position: relative
}

#lg_tbar li.msg_dropdown.open .lg_msg_popup {
	left: -20px;
	top: 32px
}

#lg_tbar .lg_msg_popup {
	position: absolute;
	left: -3000px;
	top: -1000px;
	overflow-x: auto;
	width: 320px;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: -1px 1px 1px #e7e7e7;
	z-index: 100;
	background: #fff
}

* {
	outline: 0
}

html,
body {
	height: 100%
}

#body {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 0 -68px
}

body {
	margin: 0;
	padding: 0;
	font: 14px/22px "Hiragino Sans GB", "Microsoft Yahei", SimSun;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased
}

.clearfix:after {
	content: "";
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400
}

input[type=text],
input[type=password] {
	border: 2px solid #f1f1f1;
	outline: 0;
	font: 20px/32px Arial, "Hiragino Sans GB", "Microsoft Yahei", SimSun;
	width: 600px;
	height: 30px;
	padding: 6px 10px;
	margin-top: 20px;
	transition: border .2s ease-in 0s
}

input[type=button],
input[type=submit] {
	font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", SimSun;
	outline: 0;
	cursor: pointer;
	border: 0
}

input[type=text]:focus,
input[type=password]:focus {
	border: 2px solid #d4e2e4
}

textarea {
	border: 2px solid #f1f1f1;
	width: 600px;
	height: 260px;
	outline: 0;
	resize: none;
	font: 20px/32px Arial, "Hiragino Sans GB", "Microsoft Yahei", SimSun;
	padding: 6px 10px;
	margin-top: 20px;
	transition: border .2s ease-in 0s
}

textarea:focus {
	border: 2px solid #d4e2e4
}

:focus {
	outline: 0
}

.placeholder {
	color: #777
}

img {
	border: 0
}

.dn {
	display: none
}

.db {
	display: block
}

.fl {
	float: left!important
}

.fr {
	float: right!important
}

.clear {
	clear: both
}

a {
	color: #555;
	text-decoration: none;
	cursor: pointer;
	-moz-transition: background-color .2s ease-out, color .1s ease-out;
	-webkit-transition: background-color .2s ease-out, color .1s ease-out;
	-ms-transition: background-color .2s ease-out, color .1s ease-out;
	transition: background-color .2s ease-out, color .1s ease-out
}

a:hover {
	color: #019875
}

dl,
dd {
	margin: 0
}

em {
	font-style: normal
}

ul.reset {
	margin: 0;
	padding: 0;
	list-style: none
}

h2 {
	font-size: 16px;
	margin: 10px 0
}

.c9 {
	color: #999
}

.c7 {
	color: #777
}

.c5 {
	color: #555
}

.c3 {
	color: #333
}

.cr {
	color: #fe6161
}

.f24 {
	font-size: 24px
}

.f20 {
	font-size: 20px
}

.f18 {
	font-size: 18px
}

.f16 {
	font-size: 16px
}

.f14 {
	font-size: 14px
}

.mb10 {
	margin-bottom: 10px
}

.mb20 {
	margin-bottom: 20px
}

.mb0 {
	margin-bottom: 0!important
}

.mb50 {
	margin-bottom: 50px
}

.mt20 {
	margin-top: 20px
}

span.error {
	display: block;
	margin: 5px 0 10px;
	font-size: 14px;
	color: #ff6a6a;
	text-align: left;
	background: url(../../imgs/error.png) 0 3px no-repeat;
	padding-left: 20px;
	line-height: 22px
}

::selection {
	background: #00b38a;
	color: #fff
}

::-moz-selection {
	background: #00b38a;
	color: #fff
}

.triangle {
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border-width: 6px 5px 0;
	border-style: solid dashed;
	border-color: #019875 transparent transparent;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0s
}

.triangle.transform {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0s
}

#container .mainwidth_pdf {
	width: 1000px
}

#container {
	width: 1024px;
	margin: 35px auto 0;
	padding-bottom: 150px
}

#container.bindemail_container {
	padding-bottom: 40px
}

#search_box {
	border: 0 solid #00b38a;
	width: 740px;
	height: 37px;
	position: relative
}

#search_input {
	width: 570px;
	height: 23px;
	line-height: 23px;
	float: left;
	font-size: 16px;
	padding: 5px 8px 5px 10px;
	margin: 0;
	border: 2px solid #00b38a
}

#search_button {
	height: 37px;
	width: 148px;
	color: #FFF;
	font-size: 18px;
	border: 2px solid #00b38a;
	background: #00b38a;
	float: right;
	cursor: pointer
}

#search_button:hover {
	background: #00a57f
}

#searchType {
	cursor: pointer;
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 98px;
	background: #fff;
	left: -2px;
	top: 0
}

#searchType li {
	font-size: 16px;
	height: 23px;
	line-height: 24px;
	padding: 7px 22px;
	border: 2px solid #00b38a;
	display: none
}

#searchType li.type_selected {
	height: 23px;
	border-left: 2px solid #00b38a;
	border-right: 2px solid #00b38a;
	border-top: 0;
	border-bottom: 0;
	display: block
}

.searchtype_arrow {
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border-width: 5px 5px 0;
	border-style: solid dashed;
	border-color: #00b38a transparent transparent;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	position: absolute;
	top: 18px;
	left: 73px
}

.searchtype_arrow.transform {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0s
}

#sidebar {
	width: 230px;
	position: absolute;
	z-index: 101;
	*position: relative;
	*float: left
}

.fixed {
	position: fixed!important;
	top: 0!important
}
.form_wrap .mr_selCity {
	width: 395px
}

.mr_selCity ul.mr_province {
	width: 90px;
	border-right: 1px solid #ececec;
	font-size: 14px;
	text-align: center;
	line-height: 33px;
	height: 130px;
	overflow: auto
}

.mr_selCity ul.mr_province li span {
	cursor: pointer;
	display: block
}

.mr_selCity ul.mr_province li ul {
	zoom: 1;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 90px;
	padding: 5px;
	width: 199px;
	height: 120px;
	overflow: auto;
	color: #555
}

.mr_selCity ul.mr_province li ul li {
	float: left;
	padding: 0 8px;
	border-radius: 3px;
	margin: 2px;
	height: 23px;
	line-height: 23px;
	cursor: pointer
}