#content-container a {
  text-decoration: none;
}
#content-container .search-wrapper {
  margin: 0 auto;
  height: 143px;
  background-color: #ebf0ef;
  font-size: 16px;
  line-height: 16px;
}
#content-container .search-wrapper .searchBar {
  margin: 0 auto;
  padding-top: 33px;
  width: 1200px;
}
#content-container .search-wrapper .searchBar .input-wrapper .keyword-wrapper {
  float: left;
}
#content-container .search-wrapper .searchBar .input-wrapper .keyword-wrapper input {
  display: inline-block;
  margin-right: 30px;
  padding: 13px 15px;
  width: 724px;
  /*height: 18px;*/
  overflow: hidden;
  line-height: 18px;
  border-color: #fff;
  font-size: 16px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-clip: padding-box;
}
#content-container .search-wrapper .searchBar .input-wrapper #submit {
  margin-top: 0;
  border-radius: 3px;
  padding: 15px 55px;
  background-color: #00b38a;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid transparent;
}
#content-container .search-wrapper .searchBar .input-wrapper #submitCom {
  margin-top: 0;
  border-radius: 3px;
  padding: 15px 55px;
  background-color: #00b38a;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid transparent;
}
#content-container .search-wrapper .searchBar .input-wrapper #submit:hover {
  background: #00a57f;
}
#content-container .search-wrapper .searchBar .input-wrapper #submitCom:hover {
  background: #00a57f;
}
#content-container .search-wrapper .searchBar .tab-wrapper {
  margin-top: 10px;
}
#content-container .search-wrapper .searchBar .tab-wrapper a {
  background-color: #00b38a;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 16px;
}
#content-container .search-wrapper .searchBar .tab-wrapper a span {
  font-size: 16px;
}
#content-container .main_container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 40px;
}
#content-container .main_container .dn {
  display: none;
}
#content-container .main_container .active {
  background-color: #00b38a;
  color: #fff;
}
#content-container .main_container .content_left {
  width: 960px;
  float: left;
}
#content-container .main_container .content_left #positionHead {
  padding-bottom: 18px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper {
  position: relative;
  margin-top: 35px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  min-height: 36px;
  padding: 6px 0;
}
#content-container .main_container .content_left #positionHead .filter-wrapper li {
	overflow: hidden;
}
#content-container .main_container .content_left #positionHead .filter-wrapper li {
  color: #555555;
}
#content-container .main_container .content_left #positionHead .filter-wrapper li a {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper li span {
  padding: 10px 8px;
  float: left;
  height: 14px;
  line-height: 14px;
  font-weight: 600;
  margin-right: -5px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details {
  position: relative;
  overflow: visible;
  background: #fafafa;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details li {
  padding: 6px 16px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more {
  position: relative;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more ul.more {
  display: none;
  position: absolute;
  z-index: 10;
  top: -1px;
  left: -1px;
  right: -1px;
  background-color: #fff;
  margin-top: -1px;
  border: 1px solid #e8e8e8;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more ul.more li.hot {
  overflow: hidden;
  width: 862px;
  height: 24px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more ul.more li.other {
  border-top: 1px dashed #e8e8e8;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more ul.more li.other a {
  float: left;
  margin-right: 5px;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head {
  padding-bottom: 10px;
  margin-top: -4px;
  display: table;
}
/*区域*/
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .detail-district-area{
    background-color: #fff;
    padding-left: 29px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: -3px;
    width: 913px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .detail-district-area a{
	cursor: pointer;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .detail-district-area a:hover{
	background-color: #00b38a;
	color: #fff;
}
/*区域*/
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position {
  position: absolute;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position .right-arrow{
    position: absolute;
    margin-left: 1px;
    margin-top: 5px;
    width: 12px;
    height: 14px;
    background: url(../imgs/arrow_right_0ae143d.png) no-repeat;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position .current_district{
    color: #00b38a;
    border-bottom: 1px solid #fff;
    padding-bottom: 11px;
    padding-top: 9px;
    margin-top: -4px;
    padding-bottom: 11px;
    padding-top: 9px;
    margin-top: -4px;
    margin-left: 25px;
}	

#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position span {
  font-weight: 600;
  margin-right: 0;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position .current {
  background-color: #fff;
  color: #555;
  font-size: 14px;
  border: 1px solid #ebebeb;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .current-handle-position .current_city{
	margin-top: 0 !important;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .other-hot-city .city-wrapper {
    margin-left: 150px;
    width: 740px;
    overflow: hidden;
    display: block;
    height: 24px;
    padding: 5px;
    margin-top: -9px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .other-hot-city .city-wrapper a.hot-city-name:hover {
  background-color: #00b38a;
  color: #fff;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .other-hot-city .btn-more {
  position: relative;
  right: 15px;
  z-index: 11;
  float: right;
  margin-top: -20px;
  margin-bottom: -6px;
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  font-weight: 400;
  color: #555;
  margin-right: -35px;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
  width: 45px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .other-hot-city .btn-more i {
  position: absolute;
  top: 9px;
  right: 5px;
  font-size: 0;
  height: 0;
  width: 0;
  border-width: 6px 6px 0;
  border-style: solid dashed;
  border-color: #00b38a transparent transparent;
  overflow: hidden;
  transition: all .4s ease 0s;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .has-more .choose-detail .position-head .other-hot-city .btn-more .rote {
	transform: rotate(180deg);
}	
#content-container .main_container .content_left #positionHead .filter-wrapper .details .multi-chosen {
  padding: 6px 16px;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .multi-chosen span {
  font-weight: 600;
  margin-right: 0;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .multi-chosen .active {
  background-color: #00b38a;
  color: #fff;
}
#content-container .main_container .content_left #positionHead .filter-wrapper .details .multi-chosen a:hover {
  background-color: #00b38a;
  color: #fff;
}
#content-container .main_container .content_left #positionHead .btn-collapse-wrapper {
  position: relative;
  margin-top: -1px;
  text-align: center;
}
#content-container .main_container .content_left #positionHead .btn-collapse-wrapper a.btn-collapse {
  display: block;
  margin: 0 auto;
  height: 15px;
  width: 36px;
  border: 1px solid #e8e8e8;
  border-top-color: #fafafa;
  background: #fafafa url(../imgs/arrow_up_4e204cd.png) center no-repeat;
}
#content-container .main_container .content_left #positionHead #order {
  position: relative;
  margin-top: 9px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  display: table;
  width: 100%;
}
#content-container .main_container .content_left #positionHead #order .active {
  background-color: #00b38a;
  color: #fff;
}
#content-container .main_container .content_left #positionHead #order .wrapper {
  zoom: 1;
  color: #555;
  font-size: 14px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item {
  float: left;
  padding: 10px 0;
  height: 23px;
  line-height: 23px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item .title {
  font-weight: 600;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.order {
  margin-right: 35px;
  padding-left: 16px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.order .title {
  margin-right: -5px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.order span {
  float: left;
  margin-right: 5px;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.order a {
  float: left;
  margin-right: 5px;
  padding: 5px 8px;
  height: 14px;
  line-height: 14px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI {
  position: relative;
  margin-right: 40px;
  z-index: 1;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI .text {
  position: relative;
  float: right;
  padding: 0 10px 0 5px;
  width: 70px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  cursor: default;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI .text i {
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 0;
  height: 0;
  width: 0;
  border-width: 6px 6px 0;
  border-style: solid dashed;
  border-color: #9b9b9b transparent transparent;
  overflow: hidden;
  transition: all .4s ease 0s;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI .text .deg {
  transform: rotate(180deg);
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI ul {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #f3f3f3;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI ul li a {
  display: block;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.selectUI ul li a:hover {
	background: #fafafa;
	color: #00b38a;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.salary {
  min-width: 140px;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.page {
  float: right;
  width: auto;
  border-left: 1px solid #e8e8e8;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.page .nb {
  display: block;
  width: 32px;
  height: 100%;
  text-indent: -2000px;
  cursor: pointer;
}

#content-container .main_container .content_left #positionHead #order .wrapper .item.page .page-number {
  min-width: 55px;
  text-align: center;
  display: inline-block;
}
#content-container .main_container .content_left #positionHead #order .wrapper .item.page .curNum {
  color: #00b38a;
}
#content-container .main_container .content_left .s_position_list .item_con_list {
  display: block;
  overflow: hidden;
  min-height: 280px;
  padding-bottom: 100px;
}
#content-container .main_container .content_left .s_position_list .item_con_list .empty_position{
    width: 530px;
    margin: 80px auto 140px;
}	
#content-container .main_container .content_left .s_position_list .item_con_list .empty_position .pic{
	background: url(../imgs/icons_ff45a70.png) no-repeat -10px -30px;
    float: left;
    width: 130px;
    height: 150px;
}
#content-container .main_container .content_left .s_position_list .item_con_list .empty_position .txt{
    margin-top: 75px;
    float: left;
    margin-left: 45px;
}
#content-container .main_container .content_left .s_position_list .item_con_list .empty_position .txt div{
    font-size: 22px;
    margin-bottom: 20px;
}
#content-container .main_container .content_left .s_position_list .item_con_list .empty_position .txt span{
    font-size: 16px;
    color: #999;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item {
  color: #555;
  border: 1px solid #e8e8e8;
  margin-top: 18px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top {
  width: 946px;
  padding-left: 12px;
  padding-top: 14px;
  height: 67px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position {
  width: 538px;
  float: left;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_top {
  height: 34px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_top span {
  float: left;
  color: #999;
  margin: 0 3px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_top h2 {
  float: left;
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #00b38a;
  margin: 0;
  font-size: 16px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_top span.add {
  color: #00b38a;
  font-size: 16px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_top span.format-time {
  padding-top: 3px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_bot div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_bot span.smoney {
  color: #fd5f39;
  float: left;
  font-size: 16px;
  margin-right: 20px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .position .p_bot .li_b_l {
  font-size: 14px;
  color: #555;
  padding-top: 3px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .company {
  width: 301px;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: visible;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .company .company_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  height: 34px;
  overflow: visible;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .company .company_name a {
  display: inline-block;
  color: #00b38a;
  font-size: 16px;
  vertical-align: text-top;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .company .industry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .com_logo {
  width: 70px;
  float: left;
  margin-left: 7px;
  padding-right: 10px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .com_logo a {
  width: 60px;
  height: 60px;
  border: 1px solid #f5f5f5;
  display: block;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_top .com_logo a img {
  border: 0;
  vertical-align: bottom;
  display: block;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_bot {
  padding-left: 12px;
  height: 39px;
  background-color: #fafafa;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_bot .li_b_l {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  float: left;
  font-size: 14px;
  line-height: 39px;
  width: 543px;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_bot .li_b_r {
  float: left;
  font-size: 12px;
  width: 384px;
  height: 20px;
  padding-left: 15px;
  padding-top: 10px;
  overflow: hidden;
}
#content-container .main_container .content_left .s_position_list .item_con_list li.con_list_item .list_item_bot .li_b_r span {
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  padding: 0 5px;
  line-height: 18px;
  border: 1px solid #dcdcdc;
}
#content-container .main_container .content_right {
  width: 210px;
  float: right;
  padding-top: 35px;
  overflow: hidden;
}
#content-container .main_container .content_right .history {
  width: 210px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: #fafafa;
}
#content-container .main_container .content_right .history h2 {
  font-size: 18px;
  margin: 0 0 2px 15px;
  padding-top: 12px;
  font-weight: 400;
}
#content-container .main_container .content_right .history ul.position_list {
  margin: 5px 5px 0;
  background-color: #fff;
}
#content-container .main_container .content_right .history ul.position_list li.p_list_item {
  padding: 0 10px;
  border-bottom: 1px dashed #e8e8e8;
}
#content-container .main_container .content_right .history ul.position_list li.p_list_item a {
  display: block;
}
#content-container .main_container .content_right .history ul.position_list li.p_list_item a.name {
  padding-top: 13px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #333;
}
#content-container .main_container .content_right .history ul.position_list li.p_list_item p.salary {
  color: #fd5f39;
  height: 20px;
  line-height: 20px;
}
#content-container .main_container .content_right .history ul.position_list li.p_list_item p.c_name {
  font-size: 12px;
  color: #999;
  height: 24px;
  line-height: 24px;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#content-container .main_container .related_search {
  position: relative;
  margin: 35px 0 10px;
}
#content-container .main_container .related_search p {
  font-size: 16px;
}
#content-container .main_container .related_search .r_search_con {
  margin-top: 10px;
  zoom: 1;
  overflow: hidden;
}
#content-container .main_container .related_search .r_search_con a.r_search_item {
  margin-right: 35px;
  float: left;
  color: #00b38a;
  text-decoration: underline;
  cursor: pointer;
}
#content-container .main_container .hide-recom {
  height: 56px;
  overflow: hidden;
  margin-bottom: -165px;
}
#content-container .main_container .item_con_pager {
  margin-top: 35px;
  text-align: center;
}
#content-container .main_container .item_con_pager .pager_container {
  width: 950px;
  height: 100px;
  background: #C4C3C3;
}
/*# sourceMappingURL=lgListStyle.css.map */
